@model leaseEase.Domain.Models.Off.Office
@{
    ViewBag.Title = "Office Details";
}

<div>
    <h1 class="ind-t3">@Html.DisplayFor(model => model.Name)</h1>
    <div class="details-photo" style="background-image: url('data:image/png;base64,@Convert.ToBase64String(Model.Image)');">
    </div>
</div>
