@using leaseEase.Domain.Models.Off
@model dynamic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}
@using System.Web.Optimization
<!-- Perfect ws -->
<section class="bg-home" id="home">
    <div class="index-container-1">
        <div class="texts-ind1">
            <p class="ind-t1">Find your perfect workspace!</p>
            <p class="ind-t2">Search by location or type for ideal office spaces tailored to your needs. Discover premium amenities and flexible leasing options.</p>
        </div>
        <div class="ind-search">
            <div class="categories-row">
                <p class="search-cat">Open Plan</p>
                <p class="search-cat">Cubicle Style</p>
                <p class="search-cat">Coworking Space</p>
                <p class="search-cat">Virtual Office</p>
                <p class="search-cat">Shared Offices</p>
                <p class="search-cat">Podcast Studios</p>
            </div>
            <div class="search-box">
                <input class="input-search" placeholder="Enter the location you need" />
                <a class="search-image link-footer" href="@Url.Action("Search", "Home")"><img src='~/Content/images/Searchind.svg' alt="" class="search-image" height="21" /></a>
            </div>
        </div>
    </div>
</section>
<!-- Perfect ws -->
<!-- Popular on LeaseEase -->
<h1 class="ind-t3">Popular on LeaseEase:</h1>
<div class="popular-offices">
    <div class="popular-column">
        <div class="popular-row">

            <!-- Office card!!! -->
            <div class="office-card">
                <div style="background-image: url('/Content/images/office1.png');" class="office-image"></div>
                <div class="office-inf">
                    <p class="office-name">Lorem Ipsum</p>
                    <div class="price-rating">
                        <p class="office-price">$10</p>
                        <p class="office-mo">/mo</p>
                        <div class="rating" data-rating="3.5">
                            <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                        </div>
                    </div>
                    <p class="office-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                    <div class="office-extra">
                        <img src="~/Content/images/max-persons.svg" alt="" class="extra-img" width="18" />
                        <p class="extra">max 25 persons</p>
                    </div>
                    <div class="office-extra">
                        <img src="~/Content/images/Location.svg" alt="" class="extra-img" width="18" />
                        <p class="extra">Chisinau</p>
                    </div>
                    <div class="office-extra">
                        <img src="~/Content/images/office-type.svg" alt="" class="extra-img" width="18" />
                        <p class="extra">Cubicle Style</p>
                    </div>
                </div>
            </div>
            <!-- Office card!!! -->
            <!-- Office card!!! -->
            <div class="office-card">
                <div style="background-image: url('/Content/images/office1.png');" class="office-image"></div>
                <div class="office-inf">
                    <p class="office-name">Lorem Ipsum</p>
                    <div class="price-rating">
                        <p class="office-price">$10</p>
                        <p class="office-mo">/mo</p>
                        <div class="rating" data-rating="4.5">
                            <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                        </div>
                    </div>
                    <p class="office-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                    <div class="office-extra">
                        <img src="~/Content/images/max-persons.svg" alt="" class="extra-img" width="18" />
                        <p class="extra">max 25 persons</p>
                    </div>
                    <div class="office-extra">
                        <img src="~/Content/images/Location.svg" alt="" class="extra-img" width="18" />
                        <p class="extra">Chisinau</p>
                    </div>
                    <div class="office-extra">
                        <img src="~/Content/images/office-type.svg" alt="" class="extra-img" width="18" />
                        <p class="extra">Cubicle Style</p>
                    </div>
                </div>
            </div>
            <!-- Office card!!! -->

        </div>
        <div class="popular-row">

            <!-- Office card!!! -->
            <div class="office-card">
                <div style="background-image: url('/Content/images/office1.png');" class="office-image"></div>
                <div class="office-inf">
                    <p class="office-name">Lorem Ipsum</p>
                    <div class="price-rating">
                        <p class="office-price">$10</p>
                        <p class="office-mo">/mo</p>
                        <div class="rating" data-rating="3.20685">
                            <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                        </div>
                    </div>
                    <p class="office-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                    <div class="office-extra">
                        <img src="~/Content/images/max-persons.svg" alt="" class="extra-img" width="18" />
                        <p class="extra">max 25 persons</p>
                    </div>
                    <div class="office-extra">
                        <img src="~/Content/images/Location.svg" alt="" class="extra-img" width="18" />
                        <p class="extra">Chisinau</p>
                    </div>
                    <div class="office-extra">
                        <img src="~/Content/images/office-type.svg" alt="" class="extra-img" width="18" />
                        <p class="extra">Cubicle Style</p>
                    </div>
                </div>
            </div>
            <!-- Office card!!! -->
            <!-- Office card!!! -->
            <div class="office-card">
                <div style="background-image: url('/Content/images/office1.png');" class="office-image"></div>
                <div class="office-inf">
                    <p class="office-name">Lorem Ipsum</p>
                    <div class="price-rating">
                        <p class="office-price">$10</p>
                        <p class="office-mo">/mo</p>
                        <div class="rating" data-rating="3.9">
                            <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                        </div>
                    </div>
                    <p class="office-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                    <div class="office-extra">
                        <img src="~/Content/images/max-persons.svg" alt="" class="extra-img" width="18" />
                        <p class="extra">max 25 persons</p>
                    </div>
                    <div class="office-extra">
                        <img src="~/Content/images/Location.svg" alt="" class="extra-img" width="18" />
                        <p class="extra">Chisinau</p>
                    </div>
                    <div class="office-extra">
                        <img src="~/Content/images/office-type.svg" alt="" class="extra-img" width="18" />
                        <p class="extra">Cubicle Style</p>
                    </div>
                </div>
            </div>
            <!-- Office card!!! -->

        </div>
    </div>
</div>
<!-- Popular on LeaseEase -->
<!-- Office types -->
<h1 class="ind-t3">Find out about our office types</h1>
<div class="office-types-arrows">
    <img src="~/Content/images/arr-left.svg" alt="" class="arr" width="16" onclick="showPreviousT()"/>
    <div class="office-types-row">
        @foreach (TypesOfOffice officetype in Model.TypesOfOffice)
        {
            <div class="type-row">
                <!--TYPE CARD-->
                <div class="type-card" style="background-image: url('data:image/png;base64,@Convert.ToBase64String(officetype.Image)')">
                    <div class="type-info">
                        <p class="type-name">@Html.DisplayFor(modelItem => officetype.Name):</p>
                        <p class="type-desc">@Html.DisplayFor(modelItem => officetype.Description)</p>
                    </div>
                </div>
                <!--TYPE CARD-->
                </div>
                }
            </div>
            <img src="~/Content/images/arr-right.svg" alt="" class="arr" width="16" onclick="showNextT()" />
        </div>
<!-- Office types -->
<!-- Become Landlord -->
<div class="become-landlord">
    <div class="shadow-group">
        <img src="~/Content/images/logo-l.svg" alt="" class="logo-light" height="95" />
        <p class="ind-t4">Ready to Become a Landlord?</p>
        <p class="ind-t5">Start your rental business now!</p>
        <button type="button" class="bec-landlord">Start</button>
    </div>
</div>
<!-- Become Landlord -->
<!-- Facilities -->
<h1 class="ind-t3">Find out about our facilities</h1>
<div class="faci-arrows">
    <img src="~/Content/images/arr-left.svg" alt="" class="arr" width="16" onclick="showPreviousF()" />
    <div class="facility-list" id="facilitiesContainer">
        @foreach (Facility facility in Model.Facilities)
        {
            <div class="faci-row">
                <!--FACI CARD-->
                <div class="faci-card" style="background-image: url('data:image/png;base64,@Convert.ToBase64String(facility.Image)')">
                    <div class="faci-info">
                        <p class="faci-name">@Html.DisplayFor(modelItem => facility.Name)</p>
                    </div>
                </div>
                <!--FACI CARD-->
            </div>
        }
    </div>
    <img src="~/Content/images/arr-right.svg" alt="" class="arr" width="16" onclick="showNextF()" />
</div>
<!-- Facilities -->
<!-- Why LeaseEase -->
<h1 class="ind-t3">Why LeaseEase?</h1>
<div class="why-leaseease">
    <p class="why-txt">Looking for the perfect office space? Look no further! Our premier office rental service offers a seamless experience tailored to your needs. From prime locations to customizable amenities, we prioritize your satisfaction. With flexible leasing options and exceptional customer service, we're your partner in finding the workspace of your dreams. Choose us for professionalism, convenience, and excellence in office rentals.</p>
</div>
<!-- Why LeaseEase -->
<!-- FAQ -->
<h1 class="ind-t3">FAQ</h1>
<div class="space"></div>
<div class="faq" onclick="toggleTextFAQ1()">
    <div class="faq-q-box">
        <p class="faq-q">What types of office spaces do you offer?</p>
        <img id="faq-arr-closed1" src="~/Content/images/faq-arr-closed.svg" alt="" class="faq-arr-closed" height="12" />
        <img id="faq-arr-opened1" style="display: none;" src="~/Content/images/faq-arr-opened.svg" alt="" class="faq-arr-opened" height="12" />
    </div>
    <p class="faq-ans" style="display: none;" id="faq-ans1">We provide a diverse range of office spaces, including private offices, co-working spaces, virtual offices, and meeting rooms, tailored to accommodate various business needs.</p>
</div>
<div class="faq" onclick="toggleTextFAQ2()">
    <div class="faq-q-box">
        <p class="faq-q">How flexible are your leasing terms?</p>
        <img id="faq-arr-closed2" src="~/Content/images/faq-arr-closed.svg" alt="" class="faq-arr-closed" height="12" />
        <img id="faq-arr-opened2" style="display: none;" src="~/Content/images/faq-arr-opened.svg" alt="" class="faq-arr-opened" height="12" />
    </div>
    <p class="faq-ans" style="display: none;" id="faq-ans2">Our leasing terms are highly flexible, ranging from short-term to long-term options, ensuring you have the flexibility to scale your space as your business evolves.</p>
</div>
<div class="faq" onclick="toggleTextFAQ3()">
    <div class="faq-q-box">
        <p class="faq-q">What amenities are included in your office rentals?</p>
        <img id="faq-arr-closed3" src="~/Content/images/faq-arr-closed.svg" alt="" class="faq-arr-closed" height="12" />
        <img id="faq-arr-opened3" style="display: none;" src="~/Content/images/faq-arr-opened.svg" alt="" class="faq-arr-opened" height="12" />
    </div>
    <p class="faq-ans" style="display: none;" id="faq-ans3">Our office rentals come with a comprehensive suite of amenities, including high-speed internet, professional reception services, fully-equipped conference rooms, kitchen facilities, and access to communal areas.</p>
</div>
<div class="faq" onclick="toggleTextFAQ4()">
    <div class="faq-q-box">
        <p class="faq-q">Can I customize my office space?</p>
        <img id="faq-arr-closed4" src="~/Content/images/faq-arr-closed.svg" alt="" class="faq-arr-closed" height="12" />
        <img id="faq-arr-opened4" style="display: none;" src="~/Content/images/faq-arr-opened.svg" alt="" class="faq-arr-opened" height="12" />
    </div>
    <p class="faq-ans" style="display: none;" id="faq-ans4">Yes, we understand that every business is unique. That's why we offer customizable office solutions, allowing you to tailor your workspace to match your specific requirements and branding.</p>
</div>
<div class="faq" onclick="toggleTextFAQ5()">
    <div class="faq-q-box">
        <p class="faq-q">How can I schedule a tour or inquire about availability?</p>
        <img id="faq-arr-closed5" src="~/Content/images/faq-arr-closed.svg" alt="" class="faq-arr-closed" height="12" />
        <img id="faq-arr-opened5" style="display: none;" src="~/Content/images/faq-arr-opened.svg" alt="" class="faq-arr-opened" height="12" />
    </div>
    <p class="faq-ans" style="display: none;" id="faq-ans5">Scheduling a tour or inquiring about availability is easy! Simply reach out to our friendly team through our website, phone, or email, and we'll be delighted to assist you in finding the perfect office space for your business.</p>
</div>
<!-- FAQ -->
