@using leaseEase.Domain.Models.helpers
@using leaseEase.Domain.Models.Off
@model leaseEase.Domain.Models.helpers.SearchViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}
@using System.Web.Optimization

<!-- Search -->
<!-- Search Up -->
<div class="search-up">
    <p class="se-t1">Search</p>
    <p class="se-t2">through our most convenient and fitting options for office lease.</p>
</div>
<!-- Search Up -->

<input type="text" id="locationFilter" placeholder="Enter location" />

<input type="number" id="priceFilter" placeholder="Max price" />

<select id="sortFilter">
    <option value="Nosort">Sort by</option>
    <option value="Popular">Popular</option>
    <option value="Rating">Rating</option>
    <option value="NameAsc">Title A-Z</option>
    <option value="NameDesc">Title Z-A</option>
    <option value="PriceAsc">Price low to high</option>
    <option value="PriceDesc">Price high to low</option>
</select>

@foreach (var type in Model.TypesOfOffice)
{
    <label>
        <input type="checkbox" class="typeFilter" id="type-@type.Id" value="@type.Id" /> @type.Name
    </label>
}

@foreach (var faci in Model.Facilities)
{
    <label>
        <input type="checkbox" class="faciFilter" value="@faci.Id" /> @faci.Name
    </label>
}
<!-- Offices -->
<div class="office-list">
    @{ Html.RenderPartial("_OfficeList", Model); }
</div>
<!-- Offices -->
<!-- Search -->
