<!-- Footer -->
    <div class="footer-content">
        <a href="@Url.Action("Index", "Home")" class="logo">
            <div class="logo">
                <img src="~/Content/images/logo.svg" alt="" class="logo-dark" height="47" />
                <p class="logo-title">LeaseEase</p>
            </div>
            </a>
            <div class="links-footer">
                <div class="links-group">
                    <a href="@Url.Action("Index", "Home")" class="link-footer">
                        Home
                    </a>
                    <a class="link-footer">
                        Landlords
                    </a>
                    <a class="link-footer">
                        Create offer
                    </a>
                </div>
                <div class="links-group">
                    <a href="@Url.Action("Search", "Home")" class="link-footer">
                        Search
                    </a>
                    <a class="link-footer">
                        Favorite offers
                    </a>
                    <a class="link-footer">
                        About us
                    </a>
                </div>
                <div class="links-group">
                    <a class="link-footer">
                        Cities
                    </a>
                    <a class="link-footer">
                        Chats
                    </a>
                    <a class="link-footer">
                        Contact
                    </a>
                </div>
            </div>
            <div class="social">
                <img src="~/Content/images/twitt.svg" alt="" class="twitt" height="43" />
                <img src="~/Content/images/insta.svg" alt="" class="insta" height="43" />
                <img src="~/Content/images/fb.svg" alt="" class="fb" height="43" />
            </div>
</div>
<!-- Footer -->
