
@{
    ViewBag.Title = "_OfficeCard";
}

<!-- Office card!!! -->
<div class="office-card">
    <div style="background-image: url('/Content/images/office1.png');" class="office-image"></div>
    <div class="office-inf">
        <p class="office-name">Lorem Ipsum</p>
        <div class="price-rating">
            <p class="office-price">$10</p>
            <p class="office-mo">/mo</p>
            <div class="rating" data-rating="3.5">
                <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
            </div>
        </div>
        <p class="office-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        <div class="office-extra">
            <img src="~/Content/images/max-persons.svg" alt="" class="extra-img" width="18" />
            <p class="extra">max 25 persons</p>
        </div>
        <div class="office-extra">
            <img src="~/Content/images/Location.svg" alt="" class="extra-img" width="18" />
            <p class="extra">Chisinau</p>
        </div>
        <div class="office-extra">
            <img src="~/Content/images/office-type.svg" alt="" class="extra-img" width="18" />
            <p class="extra">Cubicle Style</p>
        </div>
    </div>
</div>
<!-- Office card!!! -->
