@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}
@using System.Web.Optimization

<!-- Landlord db -->
<p class="ind-t3">We are sorry</p>
<p class="ind-t3">  You've been blocked on leaseEase by it's admin</p>
<p class="ind-t3"> :(</p>

